<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Practical Excercise 3 - Part 3</title>
        <link rel="stylesheet" href="task3.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="task3_vue.js" defer></script>
    </head>

    <body>
      <div id="vue" v-bind:style="{'background-color':background_color}">
        <div id="main" class="container" v-if="!menu">
            <button class="right" v-on:click="menu=true;" >MENU</button>
            <h1>Part 3 - Javascript Playground</h1>
            <div id="mcount" v-on:mouseenter="mcount++">{{mcount}}</div>
            <div id="posts" v-for="post in post_data">
                <p class="post-time">{{post.time.toLocaleString()}}</p>
                <p class="post-content">{{post.content}}</p>

            </div>
            <hr />
            <textarea rows="4" cols="60" placeholder="Type your text here..." v-model="post_content_input"></textarea>
            <br />
            <div class="controls left">
                <input type="number" name="quantity" value="1" id="n1" /><br />
                <input type="radio" name="color" value="blue" /> Blue<br />
                <input type="radio" name="color" value="red" /> Red<br />
                <button type="button" >Post</button>
            </div>
            <div class="controls left">
                <input type="range" name="visible" min="1" max="10" value="10"  /><br />
                <input id="bld" type="checkbox" name="style" value="bold" /> Bold<br />
                <input id="itl" type="checkbox" name="style" value="italic" /> Italic<br />
                <select id="sl1">
                    <option disabled selected value="-1" id="ddown">Choose a post to reply to</option>

                </select>


            </div>
            <hr />
        </div>

        <div id="menu" class="container"  v-else>
            <button class="right" v-on:click="menu=false;">BACK</button>
            <p>&nbsp;</p>
            <span>Background Color:</span><input type="text" v-model="background_value" v-on:change="background_color=background_value">
        </div>
 </div>
    </body>

</html>
