h1 {
    font-family:Arial,Helvetica,sans-serif;
}


h2 {
    font-family:Arial,Helvetica,sans-serif;
    text-align: left;
}

pre{
    font-family:monospace;
}

mark{
     background-color:pink;
     color:darkblue;
}

a{
    color:darkgreen;
}

del{
    color:grey;
}

h3{
    color:rgba(0,0,255,0.8);

}

.transparent-text{
    color:rgba(0,0,0,0.5);
}

.hl1{
    font-weight:bold;
    font-family:'Raleway';
}

body{
    background-color:#DCF5F5;
    background-image:url("cross.png");
}

.hl2{
    font-weight:bold;
    font-family:'Raleway';
}

.fancy{
    font-family:cursive;
}

.blue{
    color:blue;
}

.content{
    background-color:white;

}

.left{
    background-color:white;
    float:left;
    overflow:auto;
}

.satu{
    text-align:center;
}