h1 {
    font-family:Arial,Helvetica,sans-serif;
}


h2 {
    font-family:Arial,Helvetica,sans-serif;
    text-align: left;
}

pre{
    font-family:monospace;
}

mark{
     background-color:pink;
     color:darkblue;
}

a{
    color:darkgreen;
}

del{
    color:grey;
}

h3{
    color:rgba(0,0,255,0.8);

}

.transparent-text{
    color:rgba(0,0,0,0.5);
}

.hl1{
    font-weight:bold;
    font-family:'Raleway';
}

body{
    background-color:#DCF5F5;
    background-image:url("cross.png");
}

.hl2{
    font-weight:bold;
    font-family:'Raleway';
}

h2.hl3 {
    font-family:'Raleway';
}
}
.fancy{
    font-family:cursive;
}

.blue{
    color:blue;
}

.content{
    background-color:white;
    border-radius:8px;
    border:1px solid darkgrey;


}

ul.a{
    list-style-type:square;
}


ul.a1{
    list-style-type:square;
}

ul.b{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:grey;
}

li.a1{
    float:left;
}

li a{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px ;
    text-decoration:none;
}
li a:hover{
    background-color:#111;
}

.active{
    background-color:lightgrey;
}

ul.b{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:darkgrey;
}

ol.roman{
    list-style-type:lower-roman;
}