.left{
    float:left;
}

.right{
    float:right;
}

.menuitem span {
    padding:1em;
}

.menuitem span a {
    color:black;
}

.menuitem button {
    padding:0.5em;
    margin:0.5em;
    background-color:#0022EE;
    border:1px solid blue;
    border-radius=0.3em;
    color:white;
}


body{
    font-family:sans-serif;
}